*{
    margin:0;
    padding: 0;
    background-color: black;
    color: white;
}

:root{
    --primary-color: rgb(30, 28, 28);
    --primary-text-color: rgb(242, 231, 231);
    --glow-color: hsl(186 100% 69%);
}
#logo1 img{
    transition: all 1s ease-in-out;
  }
  #logo1 img:hover{
    cursor: pointer;
    transform: rotate(360deg);
  }
#navbar{
    position: relative;
    display: flex;
    align-items: center;
    border-bottom: 4px solid white;
}

#navbar::before{
    background-color: var(--primary-color);
    content: "";
    height: 100%;
    position: absolute;
    width: 100%;
    z-index: -1;
    
    top:0;
    left:0;

}
#logo1{
    margin: 0.1rem;
    padding: 0.2rem;
}
#logo{
    
    height: 3.5rem;
    width: 3.5rem;
    border-radius: 3rem;
}

#navbar ul{
    display: flex;
    
}

.item{
    
    list-style: none;
    font-size: 1.2rem;

}

.item a{
    display: block;
    border-radius: 40px;
    color:var(--primary-text-color);
    padding: 1rem;
    text-decoration: none;

}
.item a:hover{
    color: var(--primary-color);
    background-color:var(--primary-text-color);
}

/*Contsct*/
.contact_head h1{
    padding: 20px 20px;
    text-align: center;
    
}

.contact_body{
    display: flex;
    flex-wrap: wrap;
}
.card{
   
}
#card1{
    padding-left:4rem;
    font-size: 2rem;
}
#card2{
    margin-left: auto;
    display: block;
    padding-right: 2rem;
}
.card img{
    height:400px;
    
}

#sub_btn{
    justify-content: center;
    text-align: center;
    
}

#sub_btn .btn{
    font-size: 20px;
    width: 50%;
    padding: 16px 12px;
    margin: 2px auto;
    padding-left: 5px;
    border: 2px solid white;
}

.forms input{
    width: 37%;
    height: 38px;
    border: 1px solid white;
    margin: 2px auto;
    padding: 8px 15px;
    margin: 1rem;
}

.btn:hover{
    cursor: pointer;
    
}